<!-- ./templates/web_base.html -->
<!--
HTML for creating base page of website. This will give the user the option
to choose type of plot, and county.
-->

<!doctype html>
<html>
    <head>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"\
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" \
      crossorigin="anonymous">
    </head>
    <body>
    <h1>help page</h1>
        To generate a plot, simply choose the desired county (fylke), daily or weekly data,
        and finally wether you want daily cases, cumulative or both!
        <br>
        There is also an option for an interactive map of norway showing cases per 100 in the link 
        named 'Map of norway'
        <p><a href="/">return</a></p>

    </body>
</html>
